/**
CSS accueil
 */
body {
    background-color: #373C35;
}
.home {
    padding-top: 45px;
}
.footer {
    padding-top: 45px;
    padding-bottom: 50px;
}
h2.description {
    color: #0b0b0b;
}
.description {
    color: #0b0b0b;
}
/**
CSS navbar
 */
.uk-section-primary {
    background-color: #373C35;
}
.logo {
    width: 90px;
    height: auto;
}
.thumbnail {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
/**
CSS card client
 */
.cardMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pic {
    width: 100%!important;
    height: auto!important;
}
.detail {
    height: 200px;
}
.card {
    height: 260px;
}

/**
CCS pagination
 */
.pagination {
    margin-top: 30px;
}
/**
CSS Modal connexion
 */
.uk-modal-dialog {
    width: 400px;
}
.connection-align {
    margin-left: 50px;
}
/**
CSS page
 */
.title {
    margin-top: 10px;
    color: #f1f1f1;
}

/**
CSS footer
 */
.footer {
    height: 100px;
}