/**
CSS accueil
 */
body {
    background-color: #373C35;
}
.home {
    padding-top: 45px;
}
.footer {
    padding-top: 45px;
    padding-bottom: 50px;
}
h2.description {
    color: #0b0b0b;
}
.description {
    color: #0b0b0b;
}
/**
CSS navbar
 */
.uk-section-primary {
    background-color: #942a25;
}
.logo {
    width: 90px;
    height: auto;
}
/**
CSS card client
 */
.cardMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pic {
    width: 100%!important;
    height: auto!important;
}
.detail {
    height: 200px;
}
.card {
    height: 260px;
}

/**
CCS pagination
 */

.pagination {
    margin-top: 30px;
}